@import url('https://fonts.googleapis.com/css?family=Lobster');

body,html{
 width:100%;
 height:100%;
 background:#43464b;
}

.home{
   width:100%;
   height:100%;
   display:flex;
   align-items:center;
   justify-content:center;
}

.item{
   width:500px;
 
   background:#fff;
      box-shadow: 0 2px 4px 0 rgba(253, 12, 12, 0.1), 0 3px 10px 0 rgba(39, 8, 8, 0.83);
      border-radius: 2px;
}

.content{
  height: 100%;
  padding: 40px;
  align-items:center;
  justify-content:center;
  text-align: center;
}


.logo{
  width: 90px;
  border-radius: 50%;
  margin: 0 auto;
  border: 3px solid #43464B;
  color: #43464B;
  padding: 2px;
  line-height: 80px;
  font-size: 50px;
box-shadow: 0 1px 2px 0 rgba(253, 12, 12, 0.1), 0 1px 5px 0 rgba(39, 8, 8, 0.83);
  
}

#Brand{
  font-family: 'Lobster', cursive;
    font-size: 30px;
    color: #43464B;
    text-shadow: 1px 1px 0px rgba(150, 150, 150, 1);
}
input[type=text],
input[type=password],
input[type=email]
{
  background:  0 0;
  border:none;
  box-shadow: none;
  border-bottom: 1px solid #afb5c1;
  border-radius: 0;
}
.lg{
  margin-bottom: 20px;
}
.input-group-addon{
  background:0 0;
  border:0;
  color: #afb51;
}

.btn-info{
  border:0;
background:#ff3366;
border-radius: 30px;
padding: 10px;
box-shadow: 0 1px 2px 0 rgba(253, 12, 12, 0.1), 0 1px 5px 0 rgba(39, 8, 8, 0.83);
}
input[type=text],input[type=email]:focus
{
  box-shadow: none;
}
input[type=password]:focus
{
  box-shadow: none;
}
input[type=email]:focus
{
  box-shadow: none;
}

.in{
      padding-left: 100px;
    padding-right: 100px;
    padding-top: 25px;
}
.text-center:focus{
  color: #e20303;
  text-decoration: none;
}
.text-center:hover{
  color: #e20303;
  text-decoration: none;
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -150px;
    background-color: #ff3366;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 30px;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {top: 0; opacity: 0;} 
    to {top: 30px; opacity: 1;}
}

@keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {top: 30px; opacity: 1;} 
    to {top: 0; opacity: 0;}
}

@keyframes fadeout {
    from {top: 30px; opacity: 1;}
    to {top: 0; opacity: 0;}
}