<!DOCTYPE html>
<html>

<head>
    <title>
        InstaRep
    </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/home.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
        function likeClick(id) {
            Promise.resolve()
                .then(function() {
                    return $.post('incrLike', { id: id });
                })
                .then(function(like) {
                    $('#like' + like.id).html(like.count);
                })
                .catch(function(err) {
                    console.log(err);
                });
        }


        function onload() {
            Promise.resolve()
                .then(function() {
                    return $.post('posts');
                })

                .then(function(posts) {
                    $('#posts').html('');
                    posts.forEach(function(post) {
                        $('#posts').append(
                            '<div data-postId="' + post._id + '">' +
                            '<img src="' + post.image + '"style="width:100px;"/>' +
                            '<p>Like Count: ' +
                            '<span id ="like' + post._id + '">' + post.likeCount + '</span>' +
                            '<span id ="time' + post._id + '">' + post.postTimeStamp + '</span>' +
                            '</p>' +
                            '<button onclick="likeClick(\'' + post._id + '\');"><span class="glyphicon glyphicon-heart"></span>Like</button>' +
                            '</div>'
                        );
                    });
                })
                .catch(function(err) {
                    console.log(err);
                });
        }
    </script>   
</head>

<body onload="onload();">
    <div class="container-fluid">
        <div class="container-fluid" id="navbar">
            <div class="col-xs-4">
                <a class="navbar-brand">
                    <span class="glyphicon glyphicon-camera"></span>InstaRep</a>
            </div>
            <div class="col-xs-4" id="search">
                <input type="text" class="form-control" placeholder="Search" />
                <button class="btn btn-default" type="submit" id="search_button">
                         <i class="glyphicon glyphicon-search" ></i>
                 </button>
            </div>
            <div class="col-xs-4  container-fluid " id="account">
                <ul>
                    <li id="map"><span class="glyphicon glyphicon-map-marker"></span></li>
                    <li id="thumbs"><span class="glyphicon glyphicon-thumbs-up"></span></li>
                    <li id="user"><span class="glyphicon glyphicon-user"></span></li>
                </ul>
            </div>
        </div>
        <section class="container-fluid" id="feeds">
            <div class="container-fluid" id="feed">
                <header class="feed-header">
                    <div class="user_profile_img">
                        <img src=""></img>
                    </div>
                    <div class="feed_user_name_info">
                       <div class="name">amitc005</div>
                       <div class="location">
                       Canada
                    </div>
                    </div>
                    
                    <div class="feed_time">1hr</div>
                </header>
                <div class="feed_img" id="posts">
                     <img src="../images/profile_pic.png"></img>
                </div>
            </div>
        </section>
    </div>
</body>

</html>
