<!doctype html>
<html lang="en">

<head>
    <!-- our local copy of the jquery library. Normally, we'd use a CDN copy to use someone else's bandwidth -->
    <link rel="stylesheet" type="text/css" href="./css/signin.css" />
    <script src="js/jquery.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <script src="js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" />


    <!-- I am including this script directly in the HTML, but usually this would be in its own file  -->
    <script>
        /*global $*/
        function handleSigninAttempt() {
            $("#submit_button").html('<i class="fa fa-spinner fa-spin"></i>Loading');
            var email = $('#email').val();
            var password = $('#password').val();

            if (email.length > 0 && password.length > 0) {
                Promise.resolve()
                    .then(function() {
                        return $.post('signin', 'username=' + email + '&password=' + password);
                    })
                    .then(function(auth) {
                        if (auth.isValid) {
                            $('#error').text = '';
                            window.location.replace('posts');
                        }
                        else {
                            $('#error').html(auth.message);
                            $('#email').html('');
                            $('#password').html('');
                            $("#submit_button").html("Sign in")
                             $('#error_message').html("<strong>ERROR!</strong> UserName and Password is incorrect").css("opacity","1");
                        }
                    })
                    .catch(function(err) {
                        console.log(err);
                    })
            }
            else {
                $("#submit_button").html("Sign in")
                
                alertBox().show();
            }
        }
        
        var alertBox = function(){
            var obj = $("error_message");
            
            var show = function(){
                obj.css("opacity", "1")
            }
            
            function hide(){
                obj.css("opacity", "0")
            }
            
            function insertText(txt){
                obj.html(txt)
            }
            
        }
        
    </script>
</head>
<!-- add the onload event handler to the body tag -->

<body>

    <div class="container">
        <div class="col-xs-12" id="head1">
            <a class="navbar-brand">
                <span class="glyphicon glyphicon-camera"></span>InstaRep</a>
        </div>

        <div class="row">
            <div class="col-sm-6 col-sm-offset-3" id="form">
                    <div id="signinheader"><h1 id="signin">Sign in</h1>
                    </div>
                <div class="form-group">
                    <input type="text" name="email" id="email" class="form-control" placeholder="Email" required autofocus/>
                </div>

                <div class="form-group">
                    <input type="password" name="password" id="password" class="form-control" placeholder="Password" required/>
                </div>

                <div class="form-group">
                    <button id="submit_button" class="btn btn-lg btn-primary" onclick="handleSigninAttempt()">Sign In</button>
                </div>

                <a href="/join" class="text-center">Create an account</a></br>
                <a href="/passwordreset" class="text-center">ಠ╭╮ಠ I've forgotten Password</a>
                <div id="error_message" class="alert alert-fail alert-dismissable" style="opacity:0">
                    
                </div>
            </div>
        </div>
    </div>
</body>

</html>
